<!-- based on https://github.com/stlehmann/Flask-MQTT/tree/master/example from the author of Flask-MQTT -->

{% extends "bootstrap/base.html" %}
{% block title %}Sensors{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // subscribe to a topic
    $('#subscribe').click(function(event) {
      var topic = $('#subscribe_topic').val();
      var qos = $('#subscribe_qos').val();
      var data = '{"topic": "' + topic + '", "qos": ' + 1 + '}';
      socket.emit('subscribe', data=data);
      $('#subscribe').hide();
      $('#unsubscribe').show();
      $('#subscribe_topic').prop('readonly', true);
    });

    // unsubscribe from a topic
    $('#unsubscribe').click(function(event) {
      socket.emit('unsubscribe_all');
      $('#subscribe').show();
      $('#unsubscribe').hide();
      $('#subscribe_topic').prop('readonly', false);
    });

    // get a new message
    {% for sensor in sensors %}
      socket.on('mqtt_message', function(data) {
        var message = JSON.parse(data['payload'])
        document.getElementById(message.sensor).innerHTML =
          'Temperature: <br/>' + message.temp.toFixed(2) +
          '<br/>' +
          'Humidity: <br/>' + message.humd.toFixed(2);
        document.getElementById( {{ sensor }} ).innerHTML = message.name;
      })
    {% endfor %}
  });
</script>
{% endblock %}

{% block content %}

<ul>
  {% for sensor in sensors %}
  <li>{{ sensor }}</li>
  <p id="{{ sensor }}"></p>
  {% endfor %}
</ul>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="title"></h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-xs-4">Sensor:</label>
                  <div class="col-xs-8">
                    <input id="subscribe_topic" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button id="subscribe" class="btn btn-primary">Subscribe</button>
                    <button id="unsubscribe" class="btn btn-default" style="display: none;" >Unsubscribe</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-8">
                    <h1>
                      <p id="subscribe_messages"></p>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}
