{% extends "components/base.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // subscribe to a topic
    $('#subscribe').click(function(event) {
      var topic = $('#subscribe_topic').val();
      var qos = $('#subscribe_qos').val();
      var data = '{"topic": "' + topic + '", "qos": ' + 1 + '}';
      socket.emit('subscribe', data=data);
      $('#subscribe').hide();
      $('#unsubscribe').show();
      $('#subscribe_topic').prop('readonly', true);
    });

    // unsubscribe from a topic
    $('#unsubscribe').click(function(event) {
      socket.emit('unsubscribe_all');
      $('#subscribe').show();
      $('#unsubscribe').hide();
      $('#subscribe_topic').prop('readonly', false);
    });

    // get a new message - show in proper location
    socket.on('mqtt_message', function(data) {

      // parse message payload
      var message = JSON.parse(data['payload'])

      // convert default C to F
      if ("{{ unit }}" == "F") {
        var temp = (((9/5) * message.temp) + 32).toFixed(1);
        var cpt_temp_h = (((9/5) * '{{cpt_temp.high}}') + 32).toFixed(1);
        var cpt_temp_l = (((9/5) * '{{cpt_temp.low}}') + 32).toFixed(1);
      }
      else {
        var temp = message.temp.toFixed(2);
        var x = '{{cpt_temp.high}}'
        var cpt_temp_h = '{{cpt_temp.high}}'
        var cpt_temp_l = '{{cpt_temp.low}}'
      }

      // display reading values
      document.getElementById(message.sensor.concat("_temp")).innerHTML = temp +  '&#176' + '{{ unit }}';
      document.getElementById(message.sensor.concat("_humd")).innerHTML = message.humd.toFixed(2) + '% RH';

      // handle values outside of range
      if (temp >= cpt_temp_h || temp < cpt_temp_l) {
        document.getElementById(message.sensor).className = "panel panel-danger";
      }
      else if (message.humd >= '{{ cpt_humd.high }}' || message.humd <= '{{ cpt_humd.low }}') {
        document.getElementById(message.sensor).className = "panel panel-danger";
      }
      else {
        document.getElementById(message.sensor).className = "panel panel-success";
      }

    })
  });
</script>
{% endblock %}

{% block content %}
<div class="container text-center">
  {% for sensor in sensors %}
    <div  id="{{ sensor.id }}" class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{ sensor.name }}</h1>
        <br/>
        <p>{{ sensor.id }}</p>
      </div>
      <div class="panel-body">
        <p>Temperature:</p>
        <p id="{{ sensor.id }}_temp">{{ current_temp[sensor.id] }}</p>
        <p>Humidity:</p>
        <p id="{{ sensor.id }}_humd">{{ current_humd[sensor.id] }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}