{% extends 'components/base.html' %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    // connect socket.io
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // add a new sensor
    document.getElementById("subscribe").onclick = function() {
      var sensor = $('#sensor_id').val();
      var name = $('#sensor_name').val();
      var new_sensor = '{"id": "' + sensor + '", "name": "' + name + '"}';
      console.log(new_sensor);
      socket.emit('subscribe', data=new_sensor)
    }

    // remove an existing sensor - loop through sensors to get list
    {% for sensor in sensors %}
      document.getElementById("{{ sensor.id }}_unsub").onclick = function() {
        var panel = document.getElementById("{{ sensor.id }}");
        panel.remove();
        socket.emit('unsubscribe', sensor = "{{ sensor.id }}")
      }
    {% endfor %}
  });
</script>
{% endblock %}

{% block content %}
<!-- add a new sensor -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Add New Sensor</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="control-label col-xs-4">Sensor ID: </label>
        <div class="col-xs-8">
          <input id="sensor_id" class="form-control">
        </div>
      </div>
      <br/><br/>
      <div class="form-group">
        <label class="control-label col-xs-4">Sensor Name: </label>
        <div class="col-xs-8">
          <input id="sensor_name" class="form-control">
        </div>
      </div>
      <br/><br/>
      <div class="text-center">
        <button id="subscribe" class="btn">Add Sensor</button>
      </div>
    </div>
  </div>
  <!-- loop through sensors - remove existing -->
  {% for sensor in sensors %}
    <div class="panel panel-default" id="{{ sensor.id }}">
      <div class="panel-heading text-center">
        <h3 class="panel-title" id="title">{{ sensor.name }}</h3>
        <p>{{sensor.id}}</p>
      </div>
      <div class="panel-body">
        <div class="form-group text-center">
            <button id="{{ sensor.id }}_unsub" class="btn">Remove Sensor</button>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- remove ALL -->
  <!-- <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Remove All</h3>
    </div>
    <div class="panel-body">
      <div class="panel-body">
        <div class="form-group text-center">
          <p>Warning! This will remove <em>all</em> sensors from your dashboard</p>
          <button id="unsubscribe_all" class="btn">Unsubscribe</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}