{% extends 'components/base.html' %}
{% block content %}
<div class="text-center mt-5">

  <div class="container-fluid bg-1 text-center">
  <h3 class="margin">what is this project about?</h3>

  project sama is centered around building a guitar temperature and humidity monitoring system using a raspberry pi as the "base unit" along with common environmental sensors (bosch bme280) to monitor (very) local conditions. this system will also have a web interface allowing users to monitor environmental conditions in (semi) real-time and set appropriate "safe" levels for both temperature and humidity. for more detailed information, visit the <a class="link-light" href="{{ url_for('info') }}"><em>info</em></a> page. for random updates as the project progresses, see the <a class="link-light" href="{{ url_for('updates') }}"><em>updates</em></a> page.

</div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">why this project?</h3>

  lots of other guitar temperature and humidity monitors exist - this is true. however, many of the existing off-the-shelf sensors are proprietary and tied to specific apps and services that often need accounts and whatnot. a lot of them are also often expensive - approaching $50 per unit. therefore, the purpose of this project is to do the opposite - create an open guitar temperature and humidity monitoring system based on (relatively) inexpensive commercially-available components that doesn't need to be linked to any account.

</div>

<div class="container-fluid bg-3 text-center">
  <h3 class="margin">what technologies are we using?</h3>

  raspberry pi microcomputer
  <br>
  bosch bme280 temperature / humidity sensor
  <br>
  wireless transmitter board
  <br>
  rechargeable battery & power delivery board
</div>

<div class="container-fluid bg-1 text-center">
  <img src="{{ url_for('static', filename='images/guitar-and-amp.png') }}">
</div>
{% endblock %}